<html>

{{>header}}
  <form method="POST" action="/new">
<textarea type="text" name="text" placeholder="Your thoughts ..."></textarea>
<input type="text" name="user"placeholder="Name" />
    <input type="submit" value="Submit">  </form>
</html>