{{>header}}
<div class="body-content-container">
  {{#each messages}}
<div class="message-container">

  <h3>Text: {{text}}</h1>
  <p>User: {{user}}</p>
  <p>Date: {{added}}</p>
  </div>

  {{/each}}
</div>